<div class="flex flex-col items-center justify-center">
  <!-- Welcome Section -->
  <div class="flex items-center my-16 text-center">
    <p class="text-8xl font-extrabold text-primary">Welcome to Mart!</p>
  </div>

  <!-- Hot Deals Section -->
  <div class="card w-full mb-20">
    <div class="flex justify-center items-center mb-2">
      <img
        src="assets/flame.svg"
        alt="hot deal icon"
        class="w-8/12 flame-color" />
      <span class="font-semibold text-3xl mx-2">Hot Deals</span>
      <img
        src="assets/flame.svg"
        alt="hot deal icon"
        class="w-8/12 flame-color" />
    </div>
    <p-carousel
      [value]="products"
      [numVisible]="3"
      [numScroll]="1"
      [responsiveOptions]="responsiveOptions">
      <ng-template let-product #item>
        <div
          class="border border-surface-200 dark:border-surface-700 rounded m-2 p-4">
          <div class="mb-4">
            <div class="relative mx-auto flex justify-center">
              <img
                [src]="getProductImage(product)"
                [alt]="product.name"
                class="h-[200px] rounded-border" />
              <p-tag
                [value]="getInventoryStatus(product.quantity)"
                [severity]="getSeverity(product.quantity)"
                class="absolute"
                styleClass="dark:!bg-surface-900"
                [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />
            </div>
          </div>
          <div class="mb-4 font-medium">{{ product.name }}</div>
          <div class="flex justify-between items-center">
            <div class="mt-0 font-semibold text-xl">
              {{ '$' + product.price }}
            </div>
            <span>
              <p-button
                icon="pi pi-heart"
                severity="secondary"
                [outlined]="true" />
              <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
            </span>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <!-- Low Cost Section -->
  <div class="card w-full my-20">
    <div class="flex justify-center items-center mb-2">
      <img
        src="assets/flame.svg"
        alt="hot deal icon"
        class="w-8/12 flame-color" />
      <span class="font-semibold text-3xl mx-2">Low Cost</span>
      <img
        src="assets/flame.svg"
        alt="hot deal icon"
        class="w-8/12 flame-color" />
    </div>
    <p-carousel
      [value]="products!"
      [numVisible]="3"
      [numScroll]="3"
      [circular]="true"
      [responsiveOptions]="responsiveOptions">
      <ng-template let-product pTemplate="item">
        <div class="border border-surface rounded-border m-2 p-6">
          <div class="mb-6">
            <div class="relative mx-auto flex justify-center">
              <img
                [src]="getProductImage(product)"
                [alt]="product.name"
                class="h-[200px] rounded-border" />
              <p-tag
                [value]="getInventoryStatus(product.quantity)"
                [severity]="getSeverity(product.quantity)"
                class="absolute"
                [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />
            </div>
          </div>
          <div class="mb-6 font-medium">{{ product.name }}</div>
          <div class="flex justify-between items-center">
            <div class="mt-0 font-semibold text-xl">
              {{ '$' + product.price }}
            </div>
            <span>
              <p-button
                icon="pi pi-heart"
                severity="secondary"
                [outlined]="true" />
              <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
            </span>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <!-- New Arrivals Section -->
  <div class="card w-full my-20">
    <div class="flex justify-center items-center mb-2">
      <img
        src="assets/flame.svg"
        alt="hot deal icon"
        class="w-8/12 flame-color" />
      <span class="font-semibold text-3xl mx-2">New Arrivals</span>
      <img
        src="assets/flame.svg"
        alt="hot deal icon"
        class="w-8/12 flame-color" />
    </div>
    <p-carousel
      [value]="products!"
      [numVisible]="3"
      [numScroll]="3"
      [circular]="true"
      [responsiveOptions]="responsiveOptions">
      <ng-template let-product pTemplate="item">
        <div class="border border-surface rounded-border m-2 p-6">
          <div class="mb-6">
            <div class="relative mx-auto flex justify-center">
              <img
                [src]="getProductImage(product)"
                [alt]="product.name"
                class="h-[200px] rounded-border" />
              <p-tag
                [value]="getInventoryStatus(product.quantity)"
                [severity]="getSeverity(product.quantity)"
                class="absolute"
                [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />
            </div>
          </div>
          <div class="mb-6 font-medium">{{ product.name }}</div>
          <div class="flex justify-between items-center">
            <div class="mt-0 font-semibold text-xl">
              {{ '$' + product.price }}
            </div>
            <span>
              <p-button
                icon="pi pi-heart"
                severity="secondary"
                [outlined]="true" />
              <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
            </span>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <!-- Advantages Section -->
  <div class="flex justify-center items-center my-20 text-center">
    <img
      src="assets/flame.svg"
      alt="hot deal icon"
      class="w-8/12 flame-color" />
    <span class="font-semibold text-3xl mx-2">OUR ADVANTAGES!</span>
    <img
      src="assets/flame.svg"
      alt="hot deal icon"
      class="w-8/12 flame-color" />
  </div>

  <!-- Advantage Icons Section -->
  <div class="flex w-full justify-around mb-20">
    <div class="flex flex-col items-center">
      <i class="pi pi-truck mb-12 text-primary" style="font-size: 4rem"></i>
      <div class="text-xl font-bold">Fast Delivery Inside Morocco</div>
    </div>

    <div class="flex flex-col items-center">
      <i
        class="pi pi-check-circle mb-12 text-primary"
        style="font-size: 4rem"></i>
      <div class="text-xl font-bold">Agent Warranty</div>
    </div>

    <div class="flex flex-col items-center">
      <i
        class="pi pi-credit-card mb-12 text-primary"
        style="font-size: 4rem"></i>
      <div class="text-xl font-bold">Secure Payment</div>
    </div>
  </div>
</div>
