<div class="card">
  <p-toast />
  <p-toolbar styleClass="mb-6">
    <ng-template #start>
      <p-button
        label="New"
        icon="pi pi-plus"
        class="mr-2"
        (onClick)="openNew()" />
      <p-button
        severity="danger"
        label="Delete"
        icon="pi pi-trash"
        outlined
        (onClick)="deleteSelectedUsers()"
        [disabled]="!selectedProducts || !selectedProducts.length" />
    </ng-template>

    <ng-template #end>
      <p-fileUpload
        mode="basic"
        accept="image/*"
        [maxFileSize]="1000000"
        label="Import"
        chooseLabel="Import"
        auto
        customUpload
        class="mr-2 inline-block"
        [chooseButtonProps]="{ severity: 'secondary' }" />
      <p-button
        label="Export"
        icon="pi pi-upload"
        severity="secondary"
        (onClick)="exportCSV($event)" />
    </ng-template>
  </p-toolbar>

  @if (isLoading) {
    <app-skeleton [skeletonHeaders]="skeletonCols" />
  } @else {
    <p-table
      #dt
      [value]="users"
      [rows]="10"
      [columns]="cols"
      [paginator]="true"
      [globalFilterFields]="[
        'name',
        'country.name',
        'representative.name',
        'status',
      ]"
      [tableStyle]="{ 'min-width': '75rem' }"
      [(selection)]="selectedProducts"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true">
      <ng-template #caption>
        <div class="flex items-center justify-between">
          <h5 class="m-0">Manage Users</h5>
          <p-iconfield>
            <p-inputicon styleClass="pi pi-search" />
            <input
              pInputText
              type="text"
              (input)="applyFilterGlobal($event, 'contains')"
              placeholder="Search..." />
          </p-iconfield>
        </div>
      </ng-template>
      <ng-template #header>
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox />
          </th>
          <th style="min-width: 8rem">First Name</th>
          <th style="min-width: 8rem">Last Name</th>
          <th pSortableColumn="email" style="min-width: 8rem">
            Email
            <p-sortIcon field="email" />
          </th>
          <th style="min-width: 12rem">Profile Image</th>
          <th style="min-width: 12rem"></th>
        </tr>
      </ng-template>
      <ng-template #body let-user>
        <tr>
          <td style="width: 3rem">
            <p-tableCheckbox [value]="user" />
          </td>
          <td style="min-width: 12rem">{{ user.firstName }}</td>
          <td style="min-width: 12rem">{{ user.lastName }}</td>
          <td style="min-width: 16rem">{{ user.email }}</td>
          <td>
            <img
              [src]="getUserImage(user)"
              [alt]="user.name"
              style="width: 64px"
              class="rounded" />
          </td>
          <td>
            <p-button
              icon="pi pi-pencil"
              class="mr-2"
              [rounded]="true"
              [outlined]="true"
              (click)="editUser(user)" />
            <p-button
              icon="pi pi-trash"
              severity="danger"
              [rounded]="true"
              [outlined]="true"
              (click)="deleteUser(user)" />
          </td>
        </tr>
      </ng-template>
      <ng-template #summary>
        <div class="flex items-center justify-between">
          In total there are {{ users ? users.length : 0 }} users.
        </div>
      </ng-template>
    </p-table>
  }

  <p-dialog
    [(visible)]="productDialog"
    [style]="{ width: '50%' }"
    header="Profile Details"
    [modal]="true">
    <ng-template #content>
      <div class="flex flex-col gap-6">
        <div>
          <label for="firstname" class="block font-bold mb-3">First Name</label>
          <input
            type="text"
            pInputText
            id="firstName"
            [(ngModel)]="user.firstName"
            required
            autofocus
            fluid />
          <small class="text-red-500" *ngIf="submitted && !user.firstName"
            >First Name is required.</small
          >
        </div>
        <div>
          <label for="last-name" class="block font-bold mb-3">Last Name</label>
          <input
            type="text"
            pInputText
            id="last-name"
            [(ngModel)]="user.lastName"
            required
            autofocus
            fluid />
          <small class="text-red-500" *ngIf="submitted && !user.lastName"
            >Last Name is required.</small
          >
        </div>

        <div>
          <label for="email" class="block font-bold mb-3">Email</label>
          <input
            type="text"
            pInputText
            id="email"
            [(ngModel)]="user.email"
            autofocus
            fluid />
        </div>

        <div>
          <label for="roles" class="block font-bold mb-3">Assign Roles</label>
          <p-multiselect
            id="roles"
            [options]="roles"
            [(ngModel)]="selectedRoles"
            optionLabel="name"
            placeholder="Select Roles"
            [maxSelectedLabels]="3"
            styleClass="w-full" />
        </div>

        <!-- <div>
          <label for="date-of-birth" class="block font-bold mb-3"
            >Date Of Birth</label
          >
          <p-datepicker
            [(ngModel)]="user.date"
            [iconDisplay]="'input'"
            [showIcon]="true"
            inputId="date-of-birth"
            fluid />
        </div> -->

        <ng-container *ngIf="isProductEdit">
          <p class="block font-bold mb-3">Profile Image</p>
          <div class="flex">
            <div class="flex flex-col items-center gap-4">
              <img
                class="block h-[250px] w-auto"
                [src]="getUserImage(user)"
                alt="" />
              <p-button
                class="block"
                icon="pi pi-times"
                [rounded]="true"
                severity="danger"
                [outlined]="true"
                (onClick)="deleteImage(user.id!, user.profileImage!.id)" />
            </div>
          </div>
        </ng-container>

        <div>
          <label for="images" class="block font-bold mb-3">Upload image</label>
          <p-fileupload
            name="myfile[]"
            url="https://www.primefaces.org/cdn/api/upload.php"
            [multiple]="false"
            accept="image/*"
            maxFileSize="3000000"
            (onUpload)="onTemplatedUpload()"
            (onSelect)="onSelectedFiles($event)">
            <ng-template
              #header
              let-files
              let-chooseCallback="chooseCallback"
              let-clearCallback="clearCallback">
              <div
                class="flex flex-wrap justify-between items-center flex-1 gap-4">
                <div class="flex gap-2">
                  <p-button
                    (onClick)="choose($event, chooseCallback)"
                    icon="pi pi-images"
                    [rounded]="true"
                    [outlined]="true" />
                  <p-button
                    (onClick)="clearCallback()"
                    icon="pi pi-times"
                    [rounded]="true"
                    [outlined]="true"
                    severity="danger"
                    [disabled]="!files || files.length === 0" />
                </div>
              </div>
            </ng-template>
            <ng-template
              #content
              let-files
              let-uploadedFiles="uploadedFiles"
              let-removeFileCallback="removeFileCallback">
              <div class="flex flex-col gap-8 pt-4">
                <div *ngIf="files?.length > 0">
                  <div class="flex flex-wrap gap-4">
                    <div
                      *ngFor="let file of files; let i = index"
                      class="p-8 rounded-border flex flex-col border border-surface items-center gap-4">
                      <div>
                        <img
                          role="presentation"
                          [alt]="file.name"
                          [src]="file.objectURL"
                          width="100"
                          height="50" />
                      </div>
                      <span
                        class="font-semibold text-ellipsis max-w-60 whitespace-nowrap overflow-hidden"
                        >{{ file.name }}</span
                      >
                      <div>{{ formatSize(file.size) }}</div>
                      <p-badge value="Pending" severity="warn" />
                      <p-button
                        icon="pi pi-times"
                        (click)="
                          onRemoveTemplatingFile(
                            $event,
                            file,
                            removeFileCallback,
                            i
                          )
                        "
                        [outlined]="true"
                        [rounded]="true"
                        severity="danger" />
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template #file></ng-template>
            <ng-template #empty>
              <div class="flex items-center justify-center flex-col">
                <i
                  class="pi pi-cloud-upload !border-2 !rounded-full !p-8 !text-4xl !text-muted-color"></i>
                <p class="mt-6 mb-0">Drag and drop files to here to upload.</p>
              </div>
            </ng-template>
          </p-fileupload>
        </div>
      </div>
    </ng-template>

    <ng-template #footer>
      <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
      <p-button label="Save" icon="pi pi-check" (click)="saveUser()" />
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }" />
</div>
