<!-- sm: 576px -->
<!-- md: 768px -->
<!-- lg: 992px -->
<!-- xl: 1200px -->
<!-- They work with min-width -->

<div
  class="flex w-screen h-screen align-items-center justify-content-center surface-100">
  <div
    class="flex flex-column align-items-center border-round-2xl surface-0 w-4 pb-7 pt-4 w-11 sm:w-10 lg:w-5 xl:w-4">
    <h3 class="text-center text-2xl pt-3">Register</h3>

    <form
      class="flex align-items-center justify-content-center w-10"
      #registerForm="ngForm"
      (ngSubmit)="onSubmit()">
      <div class="flex flex-column gap-2 w-10">
        <div class="flex flex-column gap-2">
          <!-- {{ userRegister | json }} -->
          <label for="email-address">Email Address</label>
          <input
            id="email-address"
            type="email"
            placeholder="Email Address"
            pInputText
            aria-describedby="email-address-help"
            [(ngModel)]="userRegister.email"
            name="email" />
        </div>

        <div class="flex flex-column gap-2">
            <label for="firstName">First Name</label>
            <input
              id="firstName"
              placeholder="Your first name"
              pInputText
              aria-describedby="first-name-help"
              [(ngModel)]="userRegister.firstName"
              name="firstName" />
          </div>

          <div class="flex flex-column gap-2">
            <label for="lastName">Last Name</label>
            <input
              id="lastName"
              placeholder="Your last name"
              pInputText
              aria-describedby="last-name-help"
              [(ngModel)]="userRegister.lastName"
              name="lastName" />
          </div>

        <div class="flex flex-column mb-3 gap-2">
          <label for="password">Password</label>
          <p-password
            inputId="password"
            placeholder="Password"
            styleClass="w-12"
            inputStyleClass="w-12"
            [toggleMask]="true"
            ariaLabel="password-help"
            [(ngModel)]="userRegister.password"
            name="password"></p-password>
        </div>

        <div>
          <button pButton label="Register" class="w-12" [disabled]="!registerForm.form.valid" type="submit"></button>
        </div>

        <div class="flex align-items-center justify-content-between">
          <p>Already have an account?</p>
          <p-button
            label="Login"
            [link]="true"
            size="small"
            styleClass="no-underline"
            [plain]="true"
            (onClick)="goToLogin()"></p-button>
        </div>
      </div>
    </form>
  </div>
</div>
