<div class="flex border-t-2 border-primary-500 justify-around">
  <div class="flex flex-col">
    <div><span class="font-bold">MART</span></div>
    <div>Our Mart offers the best deals!</div>
    <div>We focus on bringin the latest products with the best prices!</div>
  </div>
  <div class="flex flex-col">
    <div>
      <span class="font-bold">Navigation</span>
    </div>
    <a routerLink="">Home</a>
    <a routerLink="">Products</a>
    <a routerLink="">About</a>
    <a routerLink="">Contact</a>
  </div>

  <div class="flex flex-col">
    <div>
      <span class="font-bold">Portfolio</span>
    </div>
    <a routerLink="">Home gadgets</a>
    <a routerLink="">Desks</a>
    <a routerLink="">Electronics</a>
    <a routerLink="">Garden</a>
  </div>

  <div class="flex flex-col">
    <div>
      <span class="font-bold">Get in touch</span>
    </div>
    <div><span>contact&#64;mart.com</span></div>
    <div><span>Avenue 16, near Big Mall, Kénitra</span></div>
  </div>
</div>

<!-- <div
  class="flex items-center justify-center">
  <h4 class="text-center">Mart - copyright 2024</h4>
</div> -->
