<!-- sm: 576px -->
<!-- md: 768px -->
<!-- lg: 992px -->
<!-- xl: 1200px -->
<!-- They work with min-width -->

<div
  class="flex w-screen h-screen items-center justify-center bg-surface-100 dark:bg-surface-700">
  <div
    class="flex flex-col items-center rounded-2xl bg-surface-0 dark:bg-surface-900 pb-16 pt-12 w-11/12 sm:w-10/12 lg:w-5/12 xl:w-4/12">
    <div class="flex self-start justify-center ml-12">
      <p-button [link]="true" icon="pi pi-arrow-left" label="Back to home" (onClick)="goToHome()"></p-button>
    </div>
    <h3 class="text-center text-2xl pt-6">Login</h3>

    <form
      class="flex items-center justify-center w-10/12"
      #loginForm="ngForm"
      (ngSubmit)="onSubmit()">
      <div class="flex flex-col gap-2 w-10/12">
        <div class="flex flex-col gap-2">
          <label for="email-address">Email Address</label>
          <input
            id="email-address"
            type="email"
            placeholder="Email Address"
            pInputText
            aria-describedby="email-address-help"
            [(ngModel)]="userLogin.email"
            name="email" />
        </div>

        <div class="flex flex-col my-6 gap-2">
          <label for="password">Password</label>
          <p-password
            inputId="password"
            placeholder="Password"
            styleClass="w-full"
            inputStyleClass="w-full"
            [toggleMask]="true"
            ariaLabel="password-help"
            [(ngModel)]="userLogin.password"
            name="password"></p-password>
        </div>

        <div>
          <p-button
            label="Forgot password?"
            [link]="true"
            size="small"
            styleClass="w-full"></p-button>
        </div>

        <div>
          <button
            pButton
            label="Login"
            class="w-full"
            [disabled]="!loginForm.form.valid"
            type="submit"></button>
        </div>

        <div class="flex items-center justify-between">
          <p>Don't have an account?</p>
          <p-button
            label="Sign up"
            [link]="true"
            size="small"
            styleClass="no-underline"
            [plain]="true"
            (onClick)="goToRegister()"></p-button>
        </div>
      </div>
    </form>
  </div>
</div>
